body {
    display: flex;
    justify-content: center;
    background-color: #dedede;
    background: linear-gradient(#fff9f2, #fff0de);
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

a {
    color: #333333;
    text-decoration: none;
    width: max-content;
}

.section_container-button {
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
    color: #f9f9f9
}

.main_container {
    width: 60%;
    box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.1);
    background-color: #fcfcfc;
}

header, footer {
    border-bottom: 5px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("../img/main.jpg");
    background-position: top;
    background-size: cover;
    color: #fcfcfc;
    padding: 100px 15px;
}

footer {
    justify-content: space-evenly;
    background-position: bottom;
}

section {
    margin: 0px 2%;
    padding: 2% 0;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}

.header_main-left, .header_main-right {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header_main-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 25px;
    color: #333333;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 15px rgba(0,0,0,0.2);
}

img {
    width: 100%;
}

nav {
    box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.1);
    background-color: #dedede;
}

nav > ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px 0;
    margin: 0;
}

nav > ul > li {
    list-style: none;
    display: inline;
    flex-grow: 1;
    text-align: center;
}

nav > ul > li:not(:last-child) {
    border-right: 1px solid black;
}

nav > ul > li:hover {
    cursor: pointer;
}

nav > ul > li > a:hover {
    font-weight: 800;
}

.section_container-main {
    display: flex;
    flex-direction: row;
}

.section_container-left {
    flex-shrink: 2;
}

.section_container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 25px;
}

.section_container-right > span {
    font-size: 12px;
    letter-spacing: 1px;
}

.section_container-kaina {
    font-weight: 800;
}

.extra_sections-main {
    display: flex;
    flex-direction: row;
}

.extra_sections-main > section {
    flex-grow: 1;
    flex-basis: 0;
}

.section_gallery_layout > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_gallery_layout > ul > li {
    height: 30vh;
    flex-grow: 1;
    max-width: 45%;
    list-style: none;
    padding: 5px;
}

.section_gallery_layout > ul > li > img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.header_main-right-inline {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

@media only screen and (max-width: 750px) {
    .main_container {
        width: 95%;
    }

    header {
        padding: 50px 7px;
    }

    nav > ul {
        display: block;
        padding: 0;
    }

    nav > ul > li {
        display: block;
        padding: 5px 0px;
        border: none !important;
    }

    nav > ul > li > a {
        border-bottom: 1px solid rgba(0,0,0,0.2);
    }

    .header_main-left {
        text-align: center;
    }

    .header_main-right-inline {
        flex-direction: column;
    }

    .extra_sections-main {
        flex-direction: column;
    }

    section {
        margin: 15px 2%;
        border-bottom: none;
    }

    .section_gallery_layout > ul {
        padding: 0px;
    }

    .section_gallery_layout > ul > li {
        max-width: 45%;
    }
}

@media only screen and (max-width: 750px) {
    .section_gallery_layout > ul > li {
        max-width: 100%;
    }
}